@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins";
}

a {
    text-decoration: none !important;
    color: black;
}

.su-text-bold {
    font-weight: 700;
}

.su-text-regular {
    font-weight: 500;
}

.su-text-thin {
    font-weight: 200;
}

.su-card-table {
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
}

.su-btn {
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    font-size: 10pt;
}

.table>:not(caption)>*>* {
    padding: 15px !important;
}

.su-form-input {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
    font-size: 12pt;
    padding: 10px 20px 10px 20px !important;
}

.su-card-detail {
    padding: 30px 20px 20px 20px;
    border-radius: 15px;
}